flask
flask-cors
python-dotenv
requests
google-generativeai
groq
beautifulsoup4
termcolor
gunicorn
pandas
jinja2
annotated-types
anyio
certifi
distro
h11
httpcore
httpx
idna
pydantic
pydantic_core
sniffio
tqdm
typing_extensions
urllib3
duckduckgo-search
